<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav get_cats -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link active" href="{% url 'home' %}" aria-current="page">Home</a>
                <a class="nav-item nav-link" href="{% url 'lst_products' %}">Products</a>
                <a class="nav-item nav-link" href="{% url 'aboutUs' %}">About Us</a>
                <a class="nav-item nav-link " href="{% url 'contactUs' %}">Contact</a>
            </div>
            <!-- Right navigation -->
            {% if request.user.is_authenticated %}
            <div class="navbar-nav ms-lg-4 text-white ">
                {{user.username}}

            </div>
            <div class="navbar-nav ms-lg-4">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
            </div>
            {% else %}
            <div class="navbar-nav ms-lg-4">
                <a class="nav-item nav-link" href="{% url 'login' %}" >Log in</a>
            </div>
           
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <a href="{% url 'registration' %}" class="nav-item nav-link">
                    Register
                </a>
            </div> 
                 
            {% endif %}

           
            <!-- Action -->
             
        </div>
    </div>
</nav>
