{% extends 'base.html' %}
{% block 'title' %} Products {% endblock %}

{% block 'main' %}


<div class="container">
    <h1> Your products landing page ... </h1>
 
    <div class="form-outline">
        <form action="{% url 'search_results' %}" method="get">

        <input type="search" name="searchProd" class="form-control m-3" placeholder="Search by product by title" aria-label="Search" />
        <i class="fas fa-search" aria-hidden="true"></i>
    </form>
    </div>
    
        <div class="row m-2  mt-3 title">
            <h4 style="text-align:center"> <em>
                total number of products :  {{counts}} </em></h4>
        </div>
    <a class="btn btn-outline-info m-2 text-center" href="{% url 'create_product' %}">
        Create New Product</a>

    <div class="row">
        {% for prod in products %}

        <div class="m-2 col col-3 ">

            <div class="card p-4">
                <div class="content">
                    {% comment %} <div class="card image">
                        <img class="card-img-top" src={{prod.images}} alt="Card image cap" />
                    </div> {% endcomment %}
                    <div class="contentBx text-center">
                        <h3 clas="card-title">{{prod.title}}</h3>
                        <p class="card-text m-2">Product Price : {{prod.price}} $</p>
                        <p class="card-text m-2"> Product Stock : {{prod.stock}}</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary" href="{{prod.get_spefic_product}}">
                            View Product</a>
                        <a class="btn btn-outline-danger m-2" href="{{prod.get_delete_url}}">
                                Delete Product</a>
                        <a class="btn btn-outline-info m-2" href="{{prod.get_edit_url}}">
                                    Edit Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}