{% extends 'products/base.html' %}
{% block 'main' %}


<div class="container">
    <h1> Your products landing page ... </h1>

    <div class="row">
        {% for prod in products %}

        <div class="m-2 col col-3 ">

            <div class="card p-4">
                <div class="content">
                    <div class="card image">
                        <img class="card-img-top" src={{prod.images}} alt="Card image cap" />
                    </div>
                    <div class="contentBx text-center">
                        <h3 clas="card-title">{{prod.title}}</h3>
                        <p class="card-text">{{prod.price}}</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary" href="{% url 'productDetails' prod.id %}">
                            View Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}